.blog-container {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
}
.blog-head , .blog-paragraph , .blog-img{
    max-width: 75ch;
    padding: 0 1em;
    margin: 1em 0 0 0;
}
.blog-head {
    line-height: 1.1;
    color: #000;
}
.blog-paragraph {
    font-size: 1.25rem;
    margin-bottom: 20px;
}
.blog-img {
    width: 90%;
    height: 300px;
    margin-bottom: 30px;
}