.carousel * {
  height: calc(100vh - 100px);
  background-size: cover;
  background-position: center center;
}
@media (max-width: 700px) {
    .carousel * {
        height:calc(70vh - 100px); ;
    }
}
h2{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
@media (max-width:1000px){
  .grid-container {
  grid-template-columns: auto auto ;
  grid-gap: 20px;
  }
  h4 {
    margin-left: -70px;
    font-size: 20px;
  }
}
@media (max-width:700px){
  .grid-container {
    grid-template-columns: auto;
  }
}
.card {
text-align: center;
transform: scale();
transition: all 0.3s ease-in;
}
.card:hover {
  transform: scale(105%);
  color: green;
}
.card > img {
  height: 300px;
  width: 350px;
}
.container {
  margin-top: 10px;
  width: 250px;
  margin-left: 95px;
}

