.nav-area {
    display: flex;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    align-items: center;
    font-weight: bold;

}
img {
    width: 100px;
    height: 100px;
}
.nav-links{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
